:root {
  --font-base: 'Roboto', sans-serif;
  --font-display: 'VT323', monospace;

  --clr-dark: #333;
  --clr-mid: #a8a8a8;
  --clr-light: #fff;
  --clr-pokered: #e93d38;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  padding: 1rem;
  background-image: url('https://cdn.pixabay.com/photo/2020/09/19/14/47/pokeball-5584675_1280.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-base);
  color: var(--clr-dark);
}

input::placeholder,
button {
  font-family: inherit;
}

.main-title {
  margin: 3rem 1rem;
  font-family: var(--font-display);
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 0 var(--clr-pokered);
  color: var(--clr-light);
}

.generations {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto 3rem;
  padding: 1rem;
  border: 2px solid var(--clr-pokered);
  border-radius: 5px;
  background: var(--clr-light);
  box-shadow: 0 0 0 2px var(--clr-light);
}
.gen-btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--clr-mid);
  border-radius: 5px;
  background: var(--clr-dark);
  color: var(--clr-light);
  box-shadow: inset 0 0 0 2px var(--clr-light);
  cursor: pointer;
}
.gen-btn:hover {
  background: var(--clr-mid);
}
.gen-btn:active {
  transform: scale(0.95);
}
.gen-btn.selected {
  border-color: var(--clr-pokered);
  background: var(--clr-pokered);
}

.placeholder {
  width: max-content;
  margin: 0 auto 3rem;
  padding: 1rem;
  border: 2px solid var(--clr-pokered);
  border-radius: 5px;
  background: var(--clr-light);
  box-shadow: 0 0 0 2px var(--clr-light);
  font-size: 1.3rem;
}
.placeholder > span {
  display: inline-block;
  margin: 0 0.5rem;
  color: var(--clr-pokered);
}

.search {
  display: none;
  width: 250px;
  height: 2rem;
  margin: 3rem auto;
  padding: 0.5rem;
  border: 2px solid var(--clr-mid);
  border-radius: 5px;
  box-shadow: 0 0 0 2px var(--clr-light);
  outline-color: var(--clr-pokered);
}
.search.show {
  display: block;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  margin: 0 auto 3rem;
  padding: 1rem;
  border: 2px solid var(--clr-pokered);
  border-radius: 5px;
  background: var(--clr-light);
  box-shadow: 0 0 0 2px var(--clr-light);
}

.form-group label {
  display: inline-block;
  box-shadow: inset 0 0 0 200px var(--clr-mid);
}
.form-group input[type='checkbox'] {
  display: none;
}
input[name='types']:checked + label.tag {
  box-shadow: 0 0 0 2px var(--clr-light), 0 0 0 4px var(--clr-mid);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  margin-bottom: 3rem;
}
.card {
  position: relative;
  width: 200px;
  border-radius: 5px;
  background: var(--clr-light);
  box-shadow: 0 0 0 5px var(--clr-pokered), 0 0 0 10px var(--clr-light);
}
.card__id {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background: var(--clr-pokered);
  font-family: var(--font-display);
  color: var(--clr-light);
}
.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: var(--clr-light);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__img img {
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
  object-position: center;
}
.card__info {
  padding: 1rem;
  text-align: center;
}
.card__title {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.card__tags {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.tag {
  padding: 0.2rem;
  border-radius: 5px;
  background: #a8a878;
  color: var(--clr-light);
  text-transform: capitalize;
  text-shadow: 1px 1px 0 var(--clr-dark);
}
.tag.normal {
  background: #a8a878;
}
.tag.fire {
  background: #f08030;
}
.tag.water {
  background: #6890f0;
}
.tag.grass {
  background: #78c850;
}
.tag.electric {
  background: #f8d030;
}
.tag.ice {
  background: #98d8d8;
}
.tag.fighting {
  background: #c03028;
}
.tag.poison {
  background: #a040a0;
}
.tag.ground {
  background: #e0c068;
}
.tag.flying {
  background: #a890f0;
}
.tag.psychic {
  background: #f85888;
}
.tag.bug {
  background: #a8b820;
}
.tag.rock {
  background: #b8a038;
}
.tag.ghost {
  background: #705898;
}
.tag.dragon {
  background: #7038f8;
}
.tag.dark {
  background: #705848;
}
.tag.steel {
  background: #b8b8d0;
}
.tag.fairy {
  background: #f0b6bc;
}

.card__measurements {
  margin-top: 0.5rem;
  padding: 0.3rem;
  border: 1px dashed var(--clr-pokered);
  border-radius: 5px;
  font-size: 0.9rem;
}
.card__measurements > span {
  display: block;
}
