:root {
  --font-base: "Roboto", sans-serif;
  --font-display: "Handjet", cursive;

  --clr-light: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  /* Resource: https://www.pexels.com/photo/person-holding-pokemon-ball-toy-1310847/ */
  background-image: url("https://images.pexels.com/photos/1310847/pexels-photo-1310847.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-base);
}

img {
  max-width: 100%;
}

.main-title {
  font-family: var(--font-display);
  font-size: 4rem;
  text-align: center;
  color: var(--clr-light);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.card {
  max-width: 250px;
  border-radius: 5px;
  background: var(--clr-light);
}
.card__img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.card__info {
  padding: 1rem;
  text-align: center;
}
